#entities-container {
    margin:                 0;
    padding:                0;
    background-color:       #716249;
}

.entity_chart {
    margin:                 0; 
    font-size:              14px;
    width:                  100%;
}

.entity_chart th {
    border-left:            solid 1px #DFD6B7; 
    border-bottom:          solid 2px #6E5D45;  
    padding:                10px;
    font-weight:            bold;
    text-transform:         capitalize; 
    color:                  #31261A;
    background-color:       #EDE9D8;
}
.entity_chart td {
    border-left:            solid 1px #DFD6B7; 
    border-bottom:          solid 2px #6E5D45;  
    background-color:       #F8F7EF;
    padding:                10px;
}

.entity_symbol {
    font-size:              2.5em; 
    text-align:             center; 
    color:                  #0099CC; 
    font-family:            "Century Schoolbook",Palatino,Georgia,serif 
}
.entity_name {
    text-align:             center; 
    color:                  #0099CC; 
    font-weight:            bold;
}
.entity_number {
    text-align:             center; 
    color:                  #0099CC; 
    font-weight:            bold;
}
.entity_description {
    text-align:             left; 
    color:                  #716249; 
    text-transform:         capitalize; 
}
.entity_description_featured {
    text-align:             left; 
    color:                  #584832; 
    text-transform:         capitalize; 
}

#about-content
{
    padding:                10px;
    background-color:       #ffffff;
}
#about-content p
{
    font-size:              14px;
}
#about-content ul
{
    font-size:              14px;
    list-style-type:        disc;
}